.waves {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;

  & > svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  & .svg-bottom {
    transform: scale(-1);
    position: relative;
    z-index: -1;
    top: -1px;
  }
}
