//Reset
@import "./reset.scss";

//Main
@import "./variables.scss";

// Viewport and breakpoints
@import "./_breakpoints.scss";

// Components
@import "../components/Header/_styles.scss";
@import "../components/About/_styles.scss";
@import "../components/Heading/_styles.scss";
@import "../components/Work/_styles.scss";
@import "../components/SVG/_styles.scss";
@import "../components/Contact/_styles.scss";
@import "../components/Footer/_styles.scss";

html {
  font-size: 16px;
  background-color: rgb(0, 42, 50);
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

// Avoid scrolling with modal on
.noScrolling {
  height: 100vh;
  overflow-y: hidden;
  margin-right: 15px;
  position: fixed;
}
