//Reset
@import "./reset.scss";

//Main
@import "./variables.scss";

// Viewport and breakpoints
@import "./_breakpoints.scss";

// Components
@import "../components/Header/_styles.scss";
@import "../components/About/_styles.scss";
@import "../components/Heading/_styles.scss";
@import "../components/Work/_styles.scss";
@import "../components/SVG/_styles.scss";
@import "../components/Contact/_styles.scss";
@import "../components/Footer/_styles.scss";

html {
  font-size: 16px;
  background: linear-gradient(-45deg, $primary-light, $primary);
  background-size: 400%;
  scroll-behavior: smooth;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

// Avoid scrolling with modal on
.noScrolling {
  // height: 100vh;
  // overflow-y: hidden;
  // margin-right: 15px;

  @media (max-width: 768px) {
    // MOBILE - REMEMBER!!!
    position: fixed;
  }
}
