//Reset
@import "./reset.scss";

//Main
@import "./variables.scss";

// Viewport and breakpoints
@import "./_breakpoints.scss";

// Components
@import "../components/Header/_styles.scss";
@import "../components/About/_styles.scss";
@import "../components/Heading/_styles.scss";
@import "../components/Work/_styles.scss";
@import "../components/SVG/_styles.scss";

html {
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;
  background: rgb(0, 42, 50);
  background: linear-gradient(180deg, $primary 0%, $primary-light 100%);
}
