.heading {
  margin: 60px 40px 0 40px;
  display: block;

  &__title {
    font-family: "raleway";
    font-weight: $light;
    font-size: 2rem;
    color: $text-light;
    text-transform: uppercase;
  }
}
