.heading {
  width: 100%;
  margin: 100px 0 60px 0;

  &__title {
    font-family: "raleway";
    font-weight: $light;
    font-size: 2rem;
    color: $text-light;
    text-transform: uppercase;
  }
}
