// Safari reset
textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  margin: auto !important;
  padding: 0 !important;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.contact__form {
  background-color: $text-light;
  padding: 40px;
  margin: 30px 0;

  & > span {
    font-family: "raleway";
    font-weight: $light;
    font-size: 0.875rem;
    color: $primary;
    margin-bottom: 20px;
    display: inline-block;

    & span {
      color: red;
    }
  }
}

.inner {
  margin-top: 40px;
}

.field {
  margin-bottom: 40px;
  position: relative;
}

.field__hidden {
  display: none;
}

.field input,
.field textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $primary;
  font-family: "raleway";
  font-weight: $regular;
  font-size: 1rem;
  color: $primary;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.field input {
  height: 40px;
}

.field textarea {
  resize: none;
  margin-top: 10px;
  margin-bottom: auto;
}

.field label {
  font-family: "raleway";
  font-weight: $bold;
  font-size: 1rem;
  color: $primary;
  position: absolute;
  transition: all 0.3s ease 0s;
  top: -15px;

  & span {
    color: red;
  }
}

.field label:focus {
  border-bottom: 1px solid #f06666;
}

.submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 0;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background-color: $primary;
  border: none;
  cursor: pointer;

  & > span {
    font-family: "raleway";
    font-weight: $bold;
    font-size: 0.875rem;
    color: $secondary;
    text-transform: uppercase;
  }
}
