header {
  margin: 30px 10% 0 10%;
}

.header__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--left {
    width: 60px;
    height: auto;
    align-self: flex-start;

    & > img {
      width: 60px;
    }
  }

  &--right {
    cursor: pointer;
    text-decoration: none;

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $secondary;
      background-color: inherit;
      padding: 15px 30px;
      transition: all ease-in-out 0.4s;

      &:hover {
        background-color: $secondary;
        -webkit-transition: all ease-in-out 0.4s;
        -moz-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;

        & span {
          color: inherit;
        }
      }

      & > span {
        font-family: "raleway";
        font-weight: 700;
        font-size: 1rem;
        color: $secondary;
        text-transform: uppercase;
      }
    }
  }
}
