.work {
  display: block;
  background-color: #f6e27f;
  width: 100%;

  &__entry--wrapper {
    margin-bottom: 20px;
  }

  &__entry--promo {
    display: inline-block;
    max-width: 300px !important;
    width: inherit !important;
    margin-right: 20px;
    cursor: pointer;

    & > a {
      text-decoration: none;

      &:hover > h2 {
        text-decoration: underline;
      }
    }

    & h2 {
      display: inline-block;
      font-family: "raleway";
      font-weight: $bold;
      font-size: 1.125rem;
      text-decoration: none;
      color: $primary;
      margin: 0 0 10px 0;
    }

    &--inner {
      width: 100%;
      background-color: $text-light;
      z-index: 1;

      & > span {
        text-align: center;
        display: block;
        padding: 10px;
        font-family: "raleway";
        font-weight: $regular;
        font-size: 0.85rem;
        color: $primary;
      }

      & > img {
        width: 100%;
        height: auto;
        border: 2px solid white;
        box-sizing: border-box;
      }
    }
  }
}

.slick-list {
  padding: 0 40px !important;
}

.rodal-dialog {
  padding: 0 !important;
}

.overlay--image {
  & img {
    display: inline-block;
    width: 100%;
  }
}

.overlay--content {
  margin: 20px 40px;
  display: block;

  &--info {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid $primary;
    & h1 {
      margin-bottom: 20px;
      font-family: "raleway";
      font-weight: $light;
      font-size: 2rem;
      color: $primary;
    }

    & a {
      display: block;
      overflow-wrap: break-word;
      margin-bottom: 20px;
      font-family: "raleway";
      font-style: italic;
      font-size: 1rem;
      color: $primary-light;
    }

    & p {
      font-family: "raleway";
      font-weight: $regular;
      font-size: 1rem;
      color: $primary;
    }
  }

  &--stack {
    & h2 {
      margin-bottom: 10px;
      font-family: "raleway";
      font-weight: $bold;
      font-size: 1.125rem;
      color: $primary;
    }

    & li {
      font-family: "raleway";
      font-weight: $regular;
      font-size: 1rem;
      color: $primary;
      line-height: 1.5rem;
    }
  }
}
