.work {
  display: block;
  background-color: #f6e27f;
  width: 100%;
  padding: 10px 0;
  // overflow: hidden;

  &__entry--wrapper {
    // margin-bottom: 20px;
  }

  &__entry--promo {
    display: inline-block;
    max-width: 400px !important;
    width: inherit !important;
    height: 100%;
    margin-right: 30px;
    cursor: pointer;
    box-sizing: border-box;

    & a {
      text-decoration: none;
    }

    &--image {
      height: 300px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }

    &--inner {
      width: 100%;
      background-color: $text-light;
      z-index: 1;
      padding: 20px;
      box-sizing: border-box;

      & h2 {
        display: inline-block;
        font-family: "playfair display";
        font-weight: $regular;
        font-size: 1.125rem;
        color: $primary;
        line-height: 24px;
        margin-bottom: 20px;
      }

      & > span {
        font-family: "raleway";
        font-weight: $regular;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $primary;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & > img {
        width: 100%;
        height: auto;
        border: 2px solid white;
        box-sizing: border-box;
      }
    }
  }

  .slick-current > div {
    padding-left: 10%;
  }
}

.slick-list {
  padding: 0 !important;
}

.slick-prev,
.slick-next {
  display: none !important;

  @include md {
    display: block !important;
    top: -200px !important;
    left: 10% !important;

    &::before {
      display: block !important;
      font-size: 3.5rem !important;
      color: $secondary !important;
    }
  }
}

.slick-prev {
  &::before {
    // display: block;
    content: " " !important;
    background-image: url("../images/arrow-left.svg");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}

.slick-next {
  &::before {
    // display: block;
    content: " " !important;
    background-image: url("../images/arrow-right.svg");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }

  @include md {
    display: block;
    left: calc(10% + 80px) !important;
  }
}

.rodal-dialog {
  padding: 0 !important;
  border-radius: 0 !important;
}

.rodal-close {
  width: 20px !important;
  height: 20px !important;
  top: 7px !important;
  right: 15px !important;

  &::before,
  &::after {
    height: 3px !important;
    border-radius: 0 !important;
    background: $primary !important;
  }
}

.overlay--image {
  position: relative;
  & img {
    display: inline-block;
    width: 100%;
  }

  & h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: $secondary;
    color: $primary;
    display: inline;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    margin-bottom: 20px;
    font-family: "raleway";
    font-weight: $bold;
    font-size: 2rem;
  }

  .bookmark {
    width: 30px;
    height: auto;
    position: absolute;
    right: 10px;
  }
}

.overlay--content {
  margin: 20px 40px;
  display: block;

  &--info {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid $primary;

    & a {
      display: block;
      overflow-wrap: break-word;
      margin-bottom: 20px;
      font-family: "raleway";
      font-style: italic;
      font-size: 1rem;
      color: $primary-light;
    }

    & p {
      font-family: "raleway";
      font-weight: $regular;
      font-size: 1rem;
      color: $primary;
      line-height: 1.5rem;
    }
  }

  &--stack {
    & h2 {
      margin-bottom: 10px;
      font-family: "raleway";
      font-weight: $bold;
      font-size: 1.125rem;
      color: $primary;
    }

    & ul {
      height: 80px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    & li {
      font-family: "raleway";
      font-weight: $regular;
      font-size: 1rem;
      color: $primary;
      line-height: 1.5rem;
    }
  }
}
